.fps {
    color: white;
}

/* Main html part - background*/
html {
    background: url(../resources/background.png) repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
                                 
/* Error canvas */
.error {
    background: url(../resources/me.png);
}

a
{
  -webkit-text-fill-color: rgb(167, 69, 164);
}
